
body{
  background-color: black;
  min-width: 1200px;
}



.left{
  display: inline-block;
  /* background-color: blue; */
  width: 50%;
  height: 100vh;
  min-width: 500px;
  border-right: 1px solid white;
  box-sizing: border-box;

}
.right{
  display: inline-block;
  /* background-color: green; */
  vertical-align: top;
  width: 50%;
  height: 100vh;
  color: white;
  text-align: center;
  border-left: 1px solid white;
  box-sizing: border-box;

}
.right textArea{
  width: 75%;
  height: 80%;
  margin: 25px;
  white-space: pre-line;
}

.lineupSubmit{
  width:125px;
  height: 40px;
  margin: auto;
  border-radius: 8px;
  font-size: 14px;
}
.buttons{

}

.statButtons button{
  width: 90px;
  height: 40px;
}
table.score tr td{
  padding: 5px 10px;
  font-size: 16px;
  margin: auto;
  text-align: center;
  white-space: pre-line;
}
.score{


}
table.currentLineup tr td {
  padding: 5px 10px;
  white-space: pre;
  text-align: center;
}

.currentLineup {
  padding-top: 50px;
}

.report{
  color: white;
  width: 99%;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  border-collapse: collapse;

}
.reportDiv{
  padding-top: 15px;
  padding-bottom:50px;

}
table.report th {
  border-bottom: 2px solid white;
}
.report td{
  padding-top: 10px;

}
#lineupTH{
  width: 10%;
}

.reportButtons{
  text-align: center;
}
.reportButtons button{
  width: 90px;
  height: 40px;
  font-size: 16px;
}
.inTheGame{
  text-align: center;
  vertical-align: top;
  margin: 0px 15px 0px 15px;
}
.inTheGame p{
  color: White;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}
.namePlate{
  background: #CFB53B;
  width: 185px;
  height: 30px;
  line-height: 30px;
  position: relative;
  font-weight: bold;
  margin:5px;

}
.namePlate button{
  position: absolute;
  top:-1px;
  right: -1px;
  width: 20px;
  padding:0px;

}
.playerBank{
  display: block;
  height: 50%;
  text-align: center;
  margin-left: 50px;

}
.playerBank button{
  height: 40px;
  width: 70px;
  margin: 0px 2px 5px 2px;
  border-radius: 8px;
  text-align: center;
  padding:0px;
  font-weight: bold;
}
.playerBank p{
  color: White;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.lineupInfo{
  display: flex;
  align-items: top;
  margin-top: -25px;
}
.gameInfo{
  height: 50vh;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}
.time{
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}
.time input{
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
.statButtons{
  height: 50%;
  border-top: 1px solid white;
  box-sizing: border-box;
}
.statButtons button{
  font-size: 13px;
  font-weight: bold;
  border: none;
  outline: none;
}
.active:active{
  background-color: #CFB53B;
}
.active:focus{
  outline:none;
}
.pointsFor, .pointsAgainst, .other{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0px 10px 0px 10px;
}
.head{
  font: 20px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.statsTable{
  height: 50%;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}
.resultsButtonContainer{
  height:50%;
  box-sizing: border-box;
  border-top: 1px solid white;
  text-align: center;
}
.resultsButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  padding-left: 10px;
  margin: auto;
  flex-wrap: wrap;
}

.resultsButton button{
  width: 90px;
  height: 45px;
  border-radius: 8px;
  font-size: 18px;
  margin: 10px;
}
.resultsButton a{
  color: black;
  text-decoration: none;
}
.for{
  width: 50%;
  display: inline-flex;
  justify-content: flex-start;
}
.against{
  display: inline-flex;
  justify-content: flex-end;
  width: 50%;
}
